
body{
    /* margin: 0; */
    width: 100%;
    background-image: url('images/bg\ img\ 2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right, red , blue);
    background-repeat: no-repeat; */
}
body button{
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}
body p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.605);

}
.nav{

    width: 100%;
    height: 70px;
    display: flex;
    /* flex-direction: row; */
    /* background-image: linear-gradient(to bottom right, rgb(193, 197, 216) , rgba(0, 179, 255, 0)); */
    border-bottom: 3px solid rgba(0, 0, 0, 0.301) ;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.6);
}
.nav-left{
    display: flex;
    align-items: center;
    width: 20%;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    padding-left: 40px;
    color: rgb(245, 245, 220);
    /* background-color: aqua; */
}
.nav-left img{
    width: 40px;
    border-radius: 50%;
    /* box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.438); */
}
.nav-left h4{
    margin-top: 10px;
    margin-left: 10px;
}
.nav-middle{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-middle{
    color: rgba(32, 32, 36, 0.432);
    font-family: 'Exo', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.208);
    
    /* font-weight: 700; */

}
.nav-right{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}
.nav-right button{
    background-color: rgb(40, 68, 162);
}
.nav-right button:hover{
    background-color: rgb(29, 52, 127);

}
.col-4{
    /* border: 1px solid black; */
    height: 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.income-main{
    display: flex;
    justify-content: center;
}
.income{
    border: 1px solid rgb(249, 246, 246);
    background-color: rgba(3, 3, 3, 0.034);
    border-radius: 35px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.income input{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.868);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.income button{
    background-color: rgba(25,135,84,255);

}
.income button:hover{
    background-color:rgb(10, 114, 52);
}


.screen-main{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.screen{
    border: 1px solid rgb(249, 246, 246);
    background-color: rgba(3, 3, 3, 0.034);
    border-radius: 35px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.screen input{
    border-radius: 10px;
    border: 0px;
    height: 70px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color:rgba(25,135,84,255) ;
}


.expense-main{
    display: flex;
    justify-content: center;
}
.expense{
    border: 1px solid rgb(249, 246, 246);
    background-color: rgba(3, 3, 3, 0.034);
    border-radius: 35px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.expense input{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.868);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.expense button{
    background-color: rgba(220,53,69,255);

}
.expense button:hover{
    background-color:rgba(255, 0, 0, 0.822);
}

.second-main{
    font-weight: 600;
    
    
}
.second-main h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.second-main h4{
    font-family: 'Raleway', sans-serif;

}
.tables{
    display: flex;
    /* font-family: 'Raleway', sans-serif; */

}

/* table{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
} */
.remove-btn{
    background-color: rgb(77, 66, 66);
    margin-top: 40px;
}
.remove-btn:hover{
    background-color: rgba(0, 0, 0, 0.87);
   
}